a{
    font-family: 'Times New Roman', Times, serif;
}h1{
    font-family: 'Times New Roman', Times, serif;  
}
ion-icon{
    font-size: 70px;
 }ion-item{
     color: blue;
 }h4{
     font-size: 18;
     color:white;
     font-family: 'Times New Roman', Times, serif;
     background-color: blue;
     line-height: 45px;
 }