<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">News</ion-title>
  </ion-toolbar>
</ion-header>
<h1 class = "title">Breaking News</h1>
<ion-content>
<ion-card *ngFor="let article of articles">
  <p>{{article.publishedAt}}</p>
  <ion-card-header>{{article.title}} </ion-card-header>
  <ion-img [src]="article.urlToImage"></ion-img>
<h2 class = "title"> {{article.content}} </h2>
  </ion-card>
</ion-content>
<div class="ion-text-center">
  <ion-icon name="home-outline" routerLink="/" color="primary" size="small"></ion-icon><br>

 </div>