ion-card-header{
font-family: 'Times New Roman', Times, serif;
color: black;
font-size: 16px;
}h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;  

}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 9px;
}ion-title {
    font-family: 'Times New Roman', Times, serif;  
}